/TestTCP/nbproject/private/
/TestTCP/build/
/SoapWebServiceExample2/nbproject/private/
/SoapWeb/nbproject/private/
/SoapWeb/build/
/SoapWeb_Client/nbproject/private/
/SoapWeb_Client/build/
/SoapWebClient/nbproject/private/
/SoapWebClient/build/